body {
    background-color:black;
    color: white;
    font-family: arial;
}
h1{
    color:grey;
}

.maindiv {
    margin: 0 auto;
    background-color: white;
    color: black;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
}

.table-form {
    margin: 0 auto;
}


